<div class="col-md-12" id="content">

  <h2><%= @group.title %></h2>
  <p><%= simple_format(@group.description) %></p>

  <div class="group row">
    	<%= link_to("Edit Book Info", edit_group_path(@group), class: "btn btn-primary btn-md")%>   
    	<%= link_to("Write Review", new_group_post_path(@group), class: "btn btn-primary btn-md")%>   
    	<%= link_to("Go Back to List", groups_path, class: "btn btn-primary btn-md")%>    
  </div>
	<br>
	<table class="table">
    <thead>
      <tr>
        <th>Reviews</th>
        <th>Author</th>
        <th>date</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= simple_format(post.content) %></td>
          <td><%= post.user.email %></td>
          <td><%= post.created_at.to_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
  	<%= will_paginate @posts %>
  </div>

</div>


	